* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.logo {
	font-size: 30px;
	font-family: 'Merriweather', Serif;
	font-weight: 700;
	color: #fdf731;
	text-decoration: none;
	padding: 10px 10px 10px 20px;
	float: left;
}

header {
	background-color: black;
	overflow: hidden;
	border-bottom: solid 3px #fdf731;
}

.navigation {
	padding: 10px 10px 10px 10px;
	float: right;
}

ul {
	list-style: none;
}

.nav {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Source Sans', Sans-Serif;
	color: white;
	padding: 10px 10px 10px 10px;
	float: left;
}

.nav1 {
    font-weight: 700;
    font-family: 'Oswald', Sans-Serif;
	text-transform: uppercase;
	 padding-top: 6px;
}

li.nav a:link, li.nav a:visited {
	color: white;
	text-decoration: none;
}

li.nav1 a:link, li.nav1 a:visited {
	color: white;
	text-decoration: none;
}

li.nav a:hover {
	background-color: #c6c6c6;
	padding: 24px;
}

.brains {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    font-weight: 700;
    font-family: 'Merriweather', Serif;
    font-size: 25px;
    font-style: italic;
}

#taste {
    text-decoration: line-through;
    color: #c6c6c6;
}

#are {
    text-decoration: none;
    border-bottom: yellow 2px solid;
}

#hero-image {
	background-image: url("../images/coworking.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 400px;
}

#match {
	border: 1px black solid;
	background-color: rgba(255,255,255,.8);
	float: right;
	margin: 20px 40px 20px 20px;
	width: 30%;
	height: auto;
	padding: 50px;
}

.matchmaker {
	font-family: 'Source Sans', Sans-Serif;
	font-size: 30px;
	font-weight: 700;
}

.matchmaker1 {
	font-family: 'Source Sans', Sans-Serif;
	font-size: 15px;
	font-weight: 400;
	padding-top: 10px;
}

#profile {
	font-family: 'Oswald', Sans-Serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #fdf731;
	text-align: center;
	width: 300px;
	margin: 24px 30px 5px 0px;
	border: 0;
	padding: 5px 0px;
	border-radius: 5px;
	box-shadow: 0px 2px 0px #666;
}

#section2 {
	background-color: white;
}

#create {
	float: left;
	width: 33.33%;
	padding: 20px 40px 40px;
	border-right: solid 1px #c6c6c6;
	margin: 20px 0px 20px;
}

#designer {
	float: left;
	width: 33.33%;
	padding: 40px;
}

h3 {
	font-family: 'Merriweather', Serif;
	font-size: 25px;
	font-weight: 700;
	padding-bottom: 10px;
}

.create2 {
	font-family: 'Source Sans', Sans-Serif;
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 20px;
}

#create3 {
	text-transform: uppercase;
	background-color: #c6c6c6;
	border: 0;
	width: 280px;
	padding: 10px;
	font-family: 'Oswald', Sans-Serif;
	font-size: 20px;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0px 2px 0px #666;
}

h4 {
	background-color: black;
	color: white;
	padding-top: 40px;
	padding-left: 15px;
	padding-bottom: 5px;
	font-family: 'Source Sans', Sans-Serif;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	width: 100%;
}










